mixin social-icons(args)
	.social-icons
		each item in args
			a(href=" "+ item.link )
				i(class="fab fa-"+ item.iconCass)

footer.footer
	.container
		.footer-content
			a(href="index.html").logo
				img(src="img/footer/logo-footer.png", alt="logo")
			ul.footer-nav
				li
					a(href="#") Обо мне
				li
					a(href="#") Спонсоры
				li
					a(href="my_youtube.html") Медиа					
				li
					a(href="#") Контакты

			.social-block
				+social-icons([
					{link:'#', iconCass:'vk'},
					{link:'#', iconCass: 'facebook-f'},
					{link:'#', iconCass: 'youtube'},
					{link:'#', iconCass: 'instagram'},
					{link:'#', iconCass: 'twitter'},
					])
				a(href="#").sherdog-link  Sherdog.com

			.dev-company-info
				a(href="#")
					span.company-icon
						img(src="img/footer/fruit.png" alt='img')
					span разработка сайтов
					span компания IT fruit