.header
	//- .header-bg
	//- 	img(src="img/main/headBg.png", alt="bg")
	.container
		.header-content
			//- a(href="index.html").logo.glitch--logo
			//- 	img(src="img/header/logo-header.png", alt="Logo")
			//- 	.glitch__logo
			//- 	.glitch__logo
			//- 	.glitch__logo
			//- 	.glitch__logo
			//- 	.glitch__logo
			a(href="index.html").logo
				img(src="img/header/logo-header.png", alt="Logo")
			.header-menu
				.header-lang
					a(href="#").active EN
					a(href="#") RU
				ul.header-nav
					li
						a(href="#!") Обо мне
						.submenu
							a(href="results.html") Статистика
							a(href="biography.html") Биография
					li
						a(href="sponsor.html") Спонсоры
												
					li
						a(href="#!") Медиа
						.submenu
							a(href="my_instagram.html") Фотогалерея
							a(href="my_youtube.html") Видео
					li
						a(href="blog.html") Статьи
						
					li
						a(href="contacts.html") Контакты
			
			button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
				span toggle menu