section.banner
	.container
		.banner-content
			.banner-img.glitch
				//- img(src=."img/index/banne.png", alt="banner")
				.glitch__img
				.glitch__img
				.glitch__img
				.glitch__img
				.glitch__img
				
			.banner-info
				.left-col.left-col-name(data-aos="fade-right")
					h1.title-1 DMITRY 'ANUBIS' KUZNETSOV:
					p.important 10 - 6
					p 6 KO/TKO 60%
					p 4 SUBMISSIONS 40%
					p 0 DECISIONS 0%

				.right-col(data-aos="fade-left" data-aos-delay='300')
					.right-col-content.right-col-weight
						h2.title-xl FIGHT WEIGHT:
						p 135 lbs / 61.2 kg
						p 125 lbs / 57 kg
			
				.left-col.left-col-height(data-aos="fade-right" data-aos-delay='500')
					.left-col-content
						h2.title-l HEIGHT:
						p 5'8" / 171.5 cm
					
				.right-col(data-aos="fade-left" data-aos-delay='700')
					.right-col-content.right-col-birth
						h2.title-l DATE OF BIRTH:
						p 1994-03-30
			
				.left-col.left-col-place(data-aos="fade-right" data-aos-delay='900')
					.left-col-content
						h2.title-l BIRTHPLACE:
						p Moscow Russia


