section.results-slogan
	//- img(src="img/results/darkBg.png", alt="img")
	
	.section-text.text-center
		p.slogan-title Я объявляю войну борцам с легкой весовой категорией
		<q> Я хочу объявить всем кто меня любит и поддерживает — этот год мой!</q>
		p.logo-name
			img(src="img/results/sloganLogo.png", alt="logo")