
mixin breadcrmb(args)
	nav.breadcrm
		each item in args
			a(href= item.link) #{item.title}

	
section.my-youtube
	.container
		.section-title
			h1 мой youtube
			+breadcrmb([{link: '#', title: 'Главная'},{link: '#', title: 'Видео'} ])
		.section-content
			.my-youtube-description.text-center
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		.video-block
			.row
				.col-md-6
					.video
						iframe(width="100%" height="100%" src="https://www.youtube.com/embed/DWVXa_Ism6g" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.col-md-6
					.video
						iframe(width="100%" height="100%" src="https://www.youtube.com/embed/ydKwY0tqAXQ" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen)