.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-content .footer-nav .submenu {
	bottom: auto;
	right: -2px;
	top: 50%;
	text-align: center;
	transform: translate(100%, -50%);
	width: 120px;
}