.footer {
	background: url(../img/footer/stounBg.png);

	background-position: bottom;
	background-size: cover;
	padding-top: 115px;
	padding-bottom: 30px;
	position: relative;
	z-index: 2;
	margin-top: -120px;

	@media(max-width:1500px) {
		margin-top: -100px;
	}

	@media(max-width:1199px) {
		margin-top: -85px;
	}

	@media(max-width:767px) {
		margin-top: -80px;
	}
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;


	@media(max-width:767px) {
		flex-direction: column;
		align-items: center;

	}
}

.footer-nav {
	display: block;
	position: relative;
	z-index: 10;

	@media(max-width:1199px) {
		display: none;
	}
}



.footer-nav li {
	margin-right: 0;
}

.footer-nav li a {
	font-size: 16px;
	position: relative;
	z-index: 10;
}

.footer-nav li:hover {
	background-color: transparent;
}

.footer-nav li:hover a {
	color: #c3c3c3;
	background-color: transparent;
}

.social-block {
	display: flex;
	align-items: center;

	@media(max-width:991px) {
		display: block;
		text-align: center;
		margin-top: 6px;

	}
}

.social-icons {
	@media(max-width:767px) {
		margin-top: 10px;
		margin-bottom: 10px;

	}
}

.sherdog-link {
	padding-left: 10px;
	display: block;
	font-weight: 700;

	@media(max-width:991px) {
		padding-top: 5px;
	}
}

.sherdog-link:hover {
	color: #c3c3c3;
}

.dev-company-info {
	transition: .5s;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

	.company-icon {
		width: 85px;
	}

	span {
		display: block;
		font-size: 14px;


		&:nth-child(3) a {
			position: relative;
			display: inline;
			margin-left: 5px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0px;
				height: 1px;
				background-color: #fff;
				transition: .3s;
			}

			&:hover {
				color: #cecece;
			}

			&:hover:after {
				width: 0;
			}
		}
	}

	@media(max-width:767px) {
		.company-icon {
			display: none;
		}

		span {
			display: inline-block;
			margin-right: 6px;
		}
	}
}