extends ../layouts/layout.pug

block content
	.media-wrapper
		include ../sections/_header.pug
		include ../sections/_contacts.pug		
		include ../sections/_footer.pug



block variables
	-var title = " Контакты";
	-var bodyClass = "light-page";