extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--index
		include ../sections/_header.pug
		include ../sections/_index-banner.pug
		include ../sections/_index-detales.pug
		include ../sections/_footer.pug



block variables
	-var title = "Anubis Way";
	-var bodyClass = "dark-page"
