extends ../layouts/layout.pug

block content
	.media-wrapper
		include ../sections/_header.pug
		include ../sections/_insta-page.pug		
		include ../sections/_footer.pug



block variables
	-var title = " Мой Инстаграм";
	-var bodyClass = "light-page";